# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Class files
**/assignment
.DS_Store
docs/
*.tgz
*.tar

# Build Files
**/build/
**/*.dSYM/

# Executables
# since making a build directory is one of those new-fangled creations
# and it makes things bad
02/program2